<div style="padding: 5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="users">Users</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="add">Add User</a>
        </li>
        <li routerLinkActive="active"><a routerLink="avatar">Upload</a></li>
        <li routerLinkActive="active"><a routerLink="security">Security</a></li>
        <li routerLinkActive="active"><a routerLink="pwa">PWA</a></li>
    </ul>
    <br/>
    <router-outlet></router-outlet>
</div>